@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
:root{
    --light_Green: #2E7D32;
    --gray: #8d8a8a;
    --dark_Theme: #121212;
    --white: #e7e7e7;
    --red: #FF6B6B ;
    --green: #429866 ;
    --blue: #6babff ;
}
body{
    background: var(--white);
    width: 100%;
    height: 100dvh;
    overflow: hidden;
}
/*************************************************/
header{
    margin: 0 auto;
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    background-color: var(--green);
}
.div_H1_Span_Score_Theme{
    background: var(--dark_Theme);
    width: clamp(95%, 1.7vw, 20rem);
    width: 100%;
    height: 125px;
    margin: 0 auto;

    color: var(--white);

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 2%;
}
.div_H1_Span_Score_Theme h1{
    border-bottom: solid 2px var(--red);
    font-size: clamp(1.5rem, 1.7vw, 2rem);
}
/*************************************************/
.div_Span_Score_Theme{
    width: clamp(85%, 1.7vw, 32rem);
    max-width: 700px;
    height: 40px;
    margin: 16px;
    
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.div_Span_Score_Theme span{
    font-size: clamp(1.2rem, 1.7vw, 2rem);
}
#btn_Theme_Dark_Of_Course{
    width: 50px;
    height: 50px;
    border: solid 3px var(--red);
    border-radius: 32px;
    cursor: pointer;
    background: var(--white);

    display: flex;
    align-items: center;
    justify-content: center;
}
.div_Information_App{
    padding: 8px;
    height: 75px;

    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--white);

    border: solid 1px var(--dark_Theme);
}
.div_Information_App p{
    border-radius: 12px;
    max-width: 950px;
    font-size: clamp(.8rem, 1.7vw, 1rem);
    color: var(--dark_Theme);
}
/*************************************************/
.section_All_Elements{
    width: clamp(100%, 1.7vw, 20rem);
    max-width: 800px;

    margin: 0 auto;
    padding: 16px;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1.1rem;
}
/*************************************************/
.section_H3_Lbls_P{
    background: linear-gradient(#ffffff, #ffffff) 50% 50%/calc(100% - 10px) calc(100% - 10px) no-repeat,
    linear-gradient(315deg, transparent 0%, #ff6b6b 25%, #6babff 50%, #429866 100%);

    padding: 1rem;
    border-radius: .5rem;
    max-width: 800px;

    background-color: var(--white);
    color: var(--dark_Theme);

}
.div_H3_Lbls{
    width: 100%;

    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.div_H3_Lbls h3{
    font-size:clamp(.7rem, 1.7vw, 1.3rem);
    color: var(--dark_Theme);

}
.div_H3_Lbls div{
    width: clamp(25%, 1.7vw, 20rem);
    display: flex;
    justify-content: space-between;
    align-items: center; 
}
.div_H3_Lbls div label{
    width: 32px;
    height: 15px;
    background: var(--gray);
    border: solid 2px var(--dark_Theme);
    border-radius: 3rem;
}

#p_Text_Ramdom{
    max-width: 800px;
    color: var(--dark_Theme);

    font-size:clamp(.8rem, 1.7vw, 1.3rem);
    padding: 2%;
    border-bottom: #FF6B6B 3px solid;
}
/*************************************************/
#text_Area_User{
    width: clamp(80%, 1.7vw, 10rem);
    font-size:clamp(.9rem, 1.7vw, 1.4rem);
    width: 100%;
    max-width: 800px;
    height: 9rem;
    padding: 9px 8px;
    border: solid 5px var(--gray);
    border-radius: .5rem;
    color: var(--dark_Theme);
    outline: none;
}

.div_span_Timer_Btn_Reset{
    width: 100%;
    max-width: 800px;

    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 16px;
}
.div_span_Timer_Btn_Reset div{
    width: 150px;
    height: 65px;

    border-radius: .5rem;

    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--red);
}
#span_Timer{
    font-size: clamp(.9rem, 1.7vw, 1.5rem);
    color: var(--dark_Theme);
    color: var(--white);
}

#btn_Reset{
    width: 400px;
    height: 65px;
    color: var(--red);
    cursor: pointer;
    background: var(--white);
    border: solid 3px var(--red);
    font-size: clamp(.9rem, 1.7vw, 1.3rem);
    border-radius: .5rem;
    transition: .9s;
}
#btn_Reset:hover{
    border: none;
    background: var(--red);
    color: var(--white);
    transition: .9s;
}

.dark_Theme{
    background: var(--dark_Theme);
    transition: 0.9;
    background: of_Course_Theme_For_dark_Theme;
    animation: of_Course_Theme_For_dark_Theme .7s linear;
}
@keyframes of_Course_Theme_For_dark_Theme{
    0%{
        background: var(--white);
        border: var(--dark_Theme);
    }100%{
        background: var(--dark_Theme);
        border: (var(--white));
    }

}
.of_Course_Theme{
    background: var(--white);
    animation: dark_Theme_Theme_For_Of_Course_Theme .7s linear;
}
@keyframes dark_Theme_Theme_For_Of_Course_Theme{
    0%{
        background: var(--dark_Theme);
    }100%{
        background: var(--white);
    }

}