@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik+Puddles&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
:root{
    --light_Green: #2E7D32;
    --gray: #8d8a8a;
    --dark_Theme: #121212;
    --of_Course_Theme: #e7e7e7;
    --green: #429866 ;
    --red: #FF6B6B;
    --blue: #6babff;
}
body{
    background: var(--dark_Theme);
    width: 100%;
    height: 100dvh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}
/*************************************************/
header{
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
.div_H1_Span_Score_Theme{
    background: transparent;
    width: 100%;
    height: 125px;

    color: var(--of_Course_Theme);
    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 1%;
}
.div_H1_Span_Score_Theme h1{
    border-bottom: solid 2px var(--red);
    animation: animation_H1 .7 infinit;
    font-size: clamp(1.9rem, 1.7vw, 2rem);
    font-family: "Rubik Puddles", serif;

    background: linear-gradient(to right, var(--green) 0%, var(--red) 50%, var(--blue) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/*************************************************/
.div_Span_Score{
    width: clamp(85%, 1.7vw, 32rem);
    max-width: 700px;
    height: 40px;
    margin: 16px;
    
    display: flex;
    align-items: center;
    justify-content: center;
}
.div_Span_Score span{
    font-size: clamp(1.4rem, 1.7vw, 2rem);
    font-family: "Rubik Puddles", serif;    
}
.div_Information_App{
    padding: 8px;
    height: 80px;
    max-width: 800px;
    margin: 0 auto;

    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--of_Course_Theme);
    border-radius: 1.1rem;
    border: solid ;
}
.div_Information_App p{
    border-radius: 12px;
    font-size: clamp(.8rem, 1.7vw, 1rem);
    color: var(--dark_Theme);
}
/*************************************************/
.section_All_Elements{
    margin: 0 auto;
    padding: 16px;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    gap: 1rem;
}
/*************************************************/
.section_H3_Lbls_P{
    border: 5px solid transparent; /* Borda transparente */
    border-image-source: linear-gradient(315deg, #ff6b6b, #6babff, #429866);
    border-image-slice: 1;
    
    color: var(--dark_Theme);
}
.div_H3_Lbls{
    width: 100%;

    display: flex;
    justify-content: space-between;
    align-items: center;
}
.div_H3_Lbls h3{
    font-size:clamp(.8rem, 1.7vw, 1.3rem);
    color: var(--of_Course_Theme);
}
.div_H3_Lbls div{
    width: clamp(25%, 1.7vw, 20rem);
    display: flex;
    justify-content: space-between;
    align-items: center; 
}
.div_H3_Lbls div label{
    width: 2rem;
    height: 15px;
    background: var(--gray);
    border: solid 2px var(--of_Course_Theme);
    border-radius: 3rem;
}

#p_Text_Random{
    color: var(--of_Course_Theme);
    font-size:clamp(.8rem, 1.7vw, 1.3rem);
    padding: 2%;
    background: transparent;
}
/*************************************************/
#text_Area_User{
    font-size:clamp(.9rem, 1.7vw, 1.4rem);
    width: 100%;
    height: 7.5rem;
    padding: 9px 8px;
    border: solid 5px var(--gray);
    color: var(--of_Course_Theme);
    outline: none;
    background:transparent;
}
.div_span_Timer_Btn_Reset{
    width: 100%;
    max-width: 800px;

    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 16px;
}
.div_span_Timer_Btn_Reset div{
    width: 150px;
    height: 60px;

    border-radius: .5rem;

    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--red);
}
#span_Timer{
    font-size: clamp(.9rem, 1.7vw, 1.5rem);
    color: var(--of_Course_Theme);
}

#btn_Reset{
    width: 400px;
    height: 60px;
    color: var(--red);
    cursor: pointer;
    background: transparent;
    border: solid 3px var(--red);
    font-size: clamp(.9rem, 1.7vw, 1.3rem);
    border-radius: .5rem;
    transition: .9s;
}
#btn_Reset:hover{
    border: none;
    background: var(--red);
    color: var(--of_Course_Theme);
    transition: .9s;
}
/*************************************************/
footer{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 3% 1%;
    height: 100px;
}
footer span{
    animation: animation_Font infinite 1.5s ;
    font-size: clamp(.8rem, 1.7vw, 1.3rem);
}
footer a{
    background: linear-gradient(to right, var(--green) 0%, var(--red) 50%, var(--blue) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: animation_Font infinite 1.5s ;
}
@keyframes animation_Font{
    0%, 100%{
        font-size: clamp(1rem, 1.7vw, 1.3rem);
    }50%{
        font-size: clamp(1.1rem, 1.7vw, 1.4rem);
    }
}
.section_All_Elements, footer{
    width: clamp(100%, 1.7vw, 20rem);
    max-width: 800px;
}

.section_H3_Lbls_P,#p_Text_Random, #text_Area_User{
    width: 100%;
}
